*{
  margin: 0;
  padding: 0
  box-sizing: border-box;
}
.page{
  margin-top: 50px;
}
.card img {
  width:100%;
}
.card-one{
  border: 1px solid grey;
}
.card-two{
  border: 1px solid orange;
}
.card-three{
  border: 1px solid red;
}


footer{
  margin-top: 50px;
  background-color: red;
  border: 1px solid red;
}
