*{
  margin: 0;
  padding: 0
  box-sizing: border-box;
}
.page{
  margin-top: 50px;
}
.card {
  border: 1px solid red;
  
}
footer{
  margin-top: 50px;
  background-color: red;
  border: 1px solid red;
}
