<div class="container page">
    <div class="container">
      <h2>Heading</h2>
      <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus
        tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet.
        Get started today</p>
      <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus
        tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet.
        Get started today</p>
        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus
        tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet.
        Get started today</p>
    </div>
    <div class="card-deck">
    <div class="card card-one">
      <img class="card-img-top" src="http://i.imgur.com/hw4TeCL.jpg" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">This is a longer card with supporting text below as a
         natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
    <div class="card card-two">
      <img class="card-img-top" src="http://i.imgur.com/hw4TeCL.jpg" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">This card has supporting text below as a natural
         lead-in to additional content.</p>
      </div>
    </div>
    <div class="card card-three">
      <img class="card-img-top" src="http://i.imgur.com/hw4TeCL.jpg" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">This is a wider card with supporting text below as a
         natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      </div>
    </div>
  </div>
</div>
