<div class="container page">
    <div class="container">
      <h2>Heading</h2>
      <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus
        tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet.
        Get started today</p>
      <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus
        tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet.
        Get started today</p>
        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus
        tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet.
        Get started today</p>
    </div>
    <div class="card-deck">
    <div class="card card-one">
      <img class="card-img-top" src="https://cloud.githubusercontent.com/assets/624760/24081263/6735b132-0ca8-11e7-87e5-87dd1cc817b8.png" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">Fixed locations</h4>
        <p class="card-text">This is a longer card with supporting text below as a
         natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
    <div class="card card-two">
      <img class="card-img-top" src="https://cloud.githubusercontent.com/assets/624760/24081266/71455f10-0ca8-11e7-8888-3c04f2f70718.png" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">Busy locations</h4>
        <p class="card-text">This is a wider card with supporting text below as a
         natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      </div>
    </div>
    <div class="card card-three">
      <img class="card-img-top" src="https://cloud.githubusercontent.com/assets/624760/24081264/6c0d262c-0ca8-11e7-91c2-f20891feb568.png" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">Temporary location</h4>
        <p class="card-text">This card has supporting text below as a natural
         lead-in to additional content.</p>
      </div>
    </div>
  </div>
</div>
