<div class="container page">
    <div class="container">
      <h2>The Problem</h2>
      <p>New environments pose a challenge to anyone. But for those with visual impairments the issue is amplified, often requiring them to rely on those around them until they learn the layouts.</p>
      <p>Additionally, environments are changing all the time, often offering visual only cues.</p>

      <h2>Our Solution</h2>
      <p>For those with visual impairments, we wanted to offer freedom in a safe place.</p>
      <p>iBeacons are used to broadcast new layouts, rooms, objects and even hazards to those with the app installed. Using close proximity, the beacons can alert you when you are within certain distances of where you need to go, what is close to you and any obstacles along the way.</p>
    </div>
    <div class="card-deck">
    <div class="card card-one">
      <img class="card-img-top" src="https://cloud.githubusercontent.com/assets/624760/24081263/6735b132-0ca8-11e7-87e5-87dd1cc817b8.png" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">Fixed locations</h4>
        <p class="card-text">These locations do not change and will become familiar.</p>
      </div>
    </div>
    <div class="card card-two">
      <img class="card-img-top" src="https://cloud.githubusercontent.com/assets/624760/24081266/71455f10-0ca8-11e7-8888-3c04f2f70718.png" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">Busy locations</h4>
        <p class="card-text">Some locations are more error prone with more people rushing around and carrying items.</p>
      </div>
    </div>
    <div class="card card-three">
      <img class="card-img-top" src="https://cloud.githubusercontent.com/assets/624760/24081264/6c0d262c-0ca8-11e7-91c2-f20891feb568.png" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">Temporary location</h4>
        <p class="card-text">Workers on a ladder, deliveries and the A sign to highlight hazards are high risk and change from hour to hour. Notifying people as they approach these popup locations is easy and highly beneficial.</p>
      </div>
    </div>
  </div>

  <br>
  <div class="embed-responsive embed-responsive-16by9">
     <iframe class="embed-responsive-item" src="//www.youtube.com/embed/vNcO5KnRAKY?rel=0" allowfullscreen></iframe>
  </div>
</div>
