<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    {% include navigation.html %}

    <div class="container">

      <!-- Three columns of text below the carousel -->
      <div class="row text-center">
        <div class="col-lg-4">
          <i class="fa fa-github-alt fa-5x" aria-hidden="true"></i>
          <h2>GitHub Team</h2>
          <p>The team worked hard for 48 hours to build a prototype in the hackathon event.</p>
          <p><a class="btn btn-secondary" href="https://github.com/orgs/AccessibleTech/people" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <i class="fa fa-github fa-5x" aria-hidden="true"></i>
          <h2>GitHub App Repo</h2>
          <p>Repository for the App. We used ReactNative, Material Design and Estimote iBeacons.</p>
          <p><a class="btn btn-secondary" href="https://github.com/AccessibleTech/teambeacon" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <i class="fa fa-code-fork fa-5x" aria-hidden="true"></i>
          <h2>GitHub Wesite Repo</h2>
          <p>Repository for this website that holds information about the project.</p>
          <p><a class="btn btn-secondary" href="https://github.com/AccessibleTech/accessibletech.github.io" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->

    </div>

    {% include footer.html %}
  </body>
</html>
